
body {
  margin: 0;
  /* index.css */
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.home-hero__mouse-scroll-cont {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%); }

.mouse {
  width: 25px;
  height: 40px;
  border: 2px solid #eee;
  border-radius: 60px;
  position: relative;
  overflow: hidden; }
  .mouse::before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #eee;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 1.3s infinite;
    -webkit-animation: wheel 1.3s infinite; }

    @keyframes wheel {
      to {
        opacity: 0;
        top: 27px; } }
    
    @-webkit-keyframes wheel {
      to {
        opacity: 0;
        top: 27px; } }



        /* App.css */

/* Add a class for the hover effect */
button.button-hover-effect {
  transition: transform 0.1s ease-in-out; /* Smooth transition */
}

.button-hover-effect:hover {
  transform: scale(1.05); /* Smooth transition */
}

.no-scroll {
  overflow: hidden !important; /* Ensure that the scrollbar remains visible */
}

/* 399F2E
 49B51F
 62CD32
 D3D3D3
 626363
 2B2B2B*/