
body {
  margin: 0;
  /* index.css */
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hr-white {
  background-color: white !important;
}


.home-hero__mouse-scroll-cont {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%); }

.mouse {
  width: 25px;
  height: 40px;
  border: 2px solid #eee;
  border-radius: 60px;
  position: relative;
  overflow: hidden; }
  .mouse::before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #eee;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 1.3s infinite;
    -webkit-animation: wheel 1.3s infinite; }

    @keyframes wheel {
      to {
        opacity: 0;
        top: 27px; } }
    
    @-webkit-keyframes wheel {
      to {
        opacity: 0;
        top: 27px; } }


        .image-hover:hover {
          opacity: 0.7;
        }

        .button-hover:hover {
          transform: scale(1.05);
          transition: transform 0.3s ease;
        }        

        .custom-active {
          background-color: #4B663B; 
          color: white;
        }

.navbar-toggler-icon {
  color: #fff;
  font-size: 20px;
  vertical-align: middle;
}

.navbar-nav .nav-link {
  font-size: 15px;
}

.custom-navbar {
  margin-left: auto;
}

.navbar-collapse {
  background-color: #fff; 
}

.navbar-nav .nav-link {
  color: #333; 
}


.navbar-nav .nav-item.dropdown .dropdown-menu {
  background-color: #fff; 
}

.navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
  color: #fff; 
}
